// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Section-One ***/
.section-one {
	background-color: #E7F2FC;
	height: 700px;

	.logo-header {
		padding-top: 50px;

		img {
			max-width: 150px;
		}
	}

	.hero {
		padding-top: 125px;
		text-align: center;
	}
}
/*** end of Section-One ***/

/*** Section-Two ***/
	.how-it-works {
		height: 1200px;
		padding-top: 50px;
		padding-left: 30px;
		padding-right: 30px;

		h1 {
			text-align: center;
		}
	}

	.bubble {
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.bubble .message-right-one {
		max-width: 55%;
		float: right;
	}

	.bubble .message-left-three {
		max-width: 55%;
		float: left;
		clear: right;
		padding-top: 10px;
	}

	.bubble .message-right-one-four {
		max-width: 17%;
		float: right;
		clear: left;
	}

	.bubble .message-left-eight {
		padding-top: 10px;
		max-width: 55%;
		float: left;
		clear: right;
	}

	.bubble .message-right-nine {
		padding-top: 5px;
		max-width: 45%;
		float: right;
		clear: left;
	}

	.bubble .message-left-ten {
		max-width: 48%;
		padding-top: 10px;
		float: left;
		clear: both;
	}

	.step-two {
		padding-top: 50px;	
		clear: right;	
	}

	.step-three {
		clear: both;
		padding-top: 50px;
	}
/*** end Section-Two ***/


/***iPhone6 Plus or less***/
@media only screen and (max-width: 767px) {
	.bubble .message-right-one {
	  // max-width: 80%;
	}

	.bubble .message-left-three {
	  // max-width: 80%;
	}

	.bubble .message-right-one-four {
	  // max-width: 24%;
	}

	.bubble .message-left-eight {
	  // max-width: 80%;
	}

	.bubble .message-right-nine {
    // max-width: 60%;
	}

	.bubble .message-left-ten {
		// max-width: 65%;
	}
}

