// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Section-One ***/
.section-one {
	background-color: #E7F2FC;
	height: 700px;

	.logo-header {
		padding-top: 50px;

		img {
			max-width: 150px;
		}
	}

	.hero {
		padding-top: 125px;
		text-align: center;
	}
}
/*** end of Section-One ***/

/*** Section-Two ***/
	.how-it-works {
		height: 700px;
		padding-top: 50px;
		padding-left: 30px;
		padding-right: 30px;

		h1 {
			text-align: center;
		}
	}

	.bubble {
		padding-left: 30px;
		padding-right: 30px;
	}

	.bubble .message-right-one {
		max-width: 55%;
		float: right;
	}

	.bubble .message-left-three {
		max-width: 55%;
		float: left;
		clear: right;
		padding-top: 10px;
	}

	.bubble .message-right-one-four {
		max-width: 18%;
		float: right;
		clear: left;
	}

	.step-two {
		padding-top: 100px;		
	}
/*** end Section-Two ***/

